<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 360Rides</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/servicepage.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" /> *@
    @RenderSection("Styles", required: false)



   @*  API LINKS
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@Html.Raw("@")pnotify/core@5.2.0/dist/PNotify.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/@Html.Raw("@")pnotify/core/dist/BrightTheme.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/pnotify@5.2.0/dist/PNotify.css" />
    <link href="https://cdn.jsdelivr.net/npm/@Html.Raw("@")pnotify/confirm@5.2.0/dist/PNotifyConfirm.min.css" rel="stylesheet">
   
  

  

</head>
<body class ="d-flex flex-column bg-white">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom-0 box-shadow mb-5">
            <div class="container-fluid grid gap-3">
                <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index"><img src="~/image/360ridenb.png" class="logo" alt="Example Image"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">

                            <a class="nav-link text-dark  " asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark increased-space" asp-area="Customer" asp-controller="Home" asp-action="Privacy">Privacy</a>

                        </li>
                        @if(User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Services" asp-action="Index">Services</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
                <partial name="_LoginPartial" class="d-none d-sm-flex align-items-center justify-content-end"/>
            </div>
        </nav>

       
    </header>
    <div @* class="container" *@>
        @if(ViewData["Title"] != null)
        {
            if (!string.IsNullOrEmpty(ViewData["Title"].ToString()))
            {
                <div class="solid-block1">
                    <div class="reveal-text1">
                        <div class="cover1"></div>
                        <h1>
                            <u>@ViewData["Title"]</u>
                        </h1>
                    </div>
                </div>
            }
        }
        <div class="container">
            <main role="main" class="pb-3">
                <partial name="_Notification" />
                @RenderBody()
            </main>
        </div>
        
    </div>

    <footer class="mt-auto border-end footer text-muted">
        <div class="container">
            &copy; 2023 - 360Rides - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
   @*  API SCRIPTS *@
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@Html.Raw("@")pnotify/core@5.2.0/dist/PNotify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@Html.Raw("@")pnotify/confirm@5.2.0/dist/PNotifyConfirm.min.js"></script>
    

   
   
    
   


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
