html {
    font-size: 14px;
}

.header{
    margin:3px
}

.logo {
    width: 50px;
    height: 50px;
    margin:15px;
}

.increased-space{
    margin-right: 20px;
}

.link{
    color: red;
}

nav-link text-dark{
    padding-left: 2em;

}


.click{
    color:red;
}

footer{
    margin-block-end:inherit;
    background-color:black;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}