html {
    font-size: 14px;
}

body {
    background-color:white;
}

header{
    font-family: 'Sitka Subheading';
}

/*.navbar .nav-item .nav-link:hover {
    color: blue;
}*/

.logo {
    width: 50px;
    height: 50px;
    margin:15px;
}

.increased-space{
    margin-right: 20px;
}

.link {
    color: red;
}

nav-link text-dark{
    padding-left: 2em;

}


.click{
    color:red;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height:auto;
    padding: 10px;
    background-color: white;
    color: black;
}

    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1{
    font-size:70px;
}

.solid-block1 {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    width: stretch;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family:'Sitka Heading';
    /*box-shadow: 20px 20px 22px #c1c4ff;*/
}

.reveal-text1 {
    position: relative;
    font-size: 24px;
    overflow: hidden;
}

.cover1 {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: black;
    animation: reveal 1.5s forwards;
}

@keyframes reveal {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}