
@model List<ServicesModel>
<br />
<br />
<div class=" row text-center justify-content-evenly">
    @foreach(var service in Model)
    {
        <div class="card col-4 mx-2 my-2" style="width: 18rem;">
            <img src="~/Images/bus.jpg" class="card-img-top my-2 rounded" alt="...">
            <div class="card-body">
                <h5 class="card-title">@service.ServiceName</h5>
                <p class="card-text">@service.ServiceDescription</p>

                <button class="col-1 learn-more">
                    <a asp-area="customer" asp-controller="Home" asp-action="Details" asp-route-product="@service.Id">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
                    <span class="button-text">Fill Form</span>
                    </a>
                </button>
                @* <a asp-area="customer" asp-controller="Home" asp-action="Details" asp-route-id = "@service.Id" class="btn btn-primary">Fill </a> *@

            </div>
        </div>
    }

</div>
